.content-container {
    align-items:center;
    width:35rem;
    margin: 2rem auto 0 auto;
}

.technology-list {
    margin:0 2rem;
    list-style: none;
    text-align:left;
}
.example-list {
    list-style: none;
    text-align:center;
}